# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env

# Spring local configuration
application-local.properties